@tailwind base;
@tailwind components;
@tailwind utilities;

/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 30px;
    height: 26px;
    left: 26px;
    top: 26px;
   
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background:#ffffff;
    
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #ececec;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 30px;
    width: 30px;

  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #E2126D;
  }
  .bm-cross:hover{
    background-color: #e2126c7e;
  }
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
    min-height: 100vh;
    
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #feffff;
    padding: 2.5em 0.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #000000;
    padding: 0.8em;
    
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    padding: 4px;
    border:2px solid #00000000;
    
  }
  .bm-item:hover{
    color:#E2126D;
    border:2px solid #E2126D;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255, 255, 255, 0.3);
  }
  .backdrop-blur-custom {
    backdrop-filter: blur(40px); 
  }